{% extends "base.html" %}

{% block title %}Preventech | Contattaci{% endblock %}

{% block content %}
    <h2>Contattaci</h2>
 
    {% if success %}
        <p>Grazie per averci contattato. La tua segnalazione sarà elaborata a breve.</p>
 
    {% else %}

        {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for message in form.message.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <form action="{{ url_for('contact') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.message.label }}
            {{ form.message }}

            {{ form.submit }}
        </form>
  {% endif %}
{% endblock %}